# Dependencias
node_modules/
.pnpm-store/

# Compilación Next.js
.next/
out/
build/

# Logs y depuración
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env*.local
.env

# Caché y editores
.cache/
.turbo/
.idea/
.vscode/
*.swp
.DS_Store
